@model UpdateProductVM

<div class="row">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Slide</h4>
                <form method="post" enctype="multipart/form-data" class="forms-sample">
                    <div class="form-group">
                        <img width="200px" height="150px" src="~/assets/images/website-images/@Model.PrimaryImage" />
                        <input asp-for="PrimaryImage" type="hidden" value="@Model.PrimaryImage" class="form-control" placeholder="Photo">
                    </div>
                    <div class="form-group">
                        <label asp-for="MainPhoto">MainPhoto</label>
                        <input asp-for="MainPhoto" accept="image/*" class="form-control" placeholder="Photo">
                        <span class="text-danger" asp-validation-for="MainPhoto"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SKU">SKU</label>
                        <input asp-for="SKU" class="form-control" placeholder="SKU">
                        <span class="text-danger" asp-validation-for="SKU"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">CategoryId</label>
                        <select asp-for="CategoryId" class="form-control">
                            @foreach (Category category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>

                    </div>


                    <button type="submit" class="btn btn-primary me-2 mt-4">Submit</button>
                    <button class="btn btn-light mt-4">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
